



      /* CSS Guide
    1. Main Nav
    2. Products
    3. Footer
    4. lightbox*/

    /* 1. Main Nav */

    h2 {
        font-family: 'Eczar', serif;
        font-size: 40px;
        color: #E2CBAC;
    }

    h3{
        font-family: 'Eczar', serif;
        font-size: 40px;
        color: #E2CBAC;
    }

    #main-header{
        background-color: #E09026;
        height: 111px;
    }

    #burger-nav{
        display: none;
    }

    #main-logo{
        order: -1;
        height: 111px;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 0px 0px 0px 0px;
    }

    
    #main-logo img{
        width: 100%;
    }

    #main-icon1{
        display: block;
        height: 111px;
        margin: 0;
        cursor: pointer;
    }
    #main-icon2{
        display: block;
        height: 111px;
        margin: 0;
        cursor: pointer;
    }
    #main-nav{
        display: block;
        height: 111px;
        margin: 0;
    }

    #main-nav ul {
        margin-top: 24px;
        padding:0;
     }

    a {
        text-decoration: none;
        transition: all 0.5s ease-in-out;
     }
     
     #main-nav li {
        display:inline;
        margin-right: 45px;
        font-family: 'Nunito', sans-serif, Verdana;
     }
     
     #main-nav li:last-child {
        margin-right: 0;
     }
    
     #main-nav li a {
        color: #AE2929;
        font-size: 17px;
     }
     
     #main-nav li a:hover {
      padding-bottom: 8px;
      border-bottom: 3px solid #06113C;
     }


    #main-icon1, #main-icon2{
        display: flex;
        align-items: center;
    }





    /* 2. Products */

    #products{
        height: 1753px;
        background-color: #208281;
    }
    #product-title{
        height: 136px;
    }
    .box-products{
        height: 451px;
        background-color: brown;
    }
    .button-products{
        height: 90px;
        background-color: #d94b4b;
    }

    #title-product h2{
        font-size: 65px;
    }

    #text-product h4{
        font-size: 25px;
    }

    #product-image{
        display: flex;
        align-items: center;  
    }

    #product-hero{
        background-color: brown;
        height: 600px;
        align-items: center;
    }

    .product-box{
        height: 480px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #product-details-box-1{
        height: 555px;
        display: flex;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 120px;
    }

    #title-product{
        font-family: 'Eczar', serif;
        font-size: 40px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 57%;
    }

    #text-product{
        height: 77px;
    }

    #product-image{
        height: 505px;
    }

    #product-details{
        height: 1850px;
        background-color: #208281;
    }

    #product-details-box-2 h3{
        text-align: center;
    }

    /* 6. Footer */

    footer{
        height: 481px;
        background-color: blanchedalmond;
    }
    #nav-footer{
        height: 65px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }

    #nav-footer ul{
        padding: 0;
    }
    #nav-footer ul li {
        display:inline;
        font-size: 20px;
        margin-right: 35px;
     } 

     #nav-footer ul li:first-child{
        padding-left: 0px;
     }
     
    #nav-footer ul li a {
        color: #208281;
     }

    #footer-newsletter{
        height: 65px;
        padding-left: 0;
    }

    #footer-newsletter h2{
        font-size: 20px;
        color: #208281;
    }

    #signup-footer{
        height: 65px;
        display: flex;
        padding: 0;
    }

    #signup-footer input{
        background-color: #FFFFFF;
        border: 1px solid #707070;
        font-size: 20px;
        padding-left: 10px;
        width: 100%;;
     }

    #button-footer{
        height: 65px;
        display: flex;
        align-items: center;
        padding: 0;
    }

    #button-footer-send{
        height: 65px;
        background-color: #208281;
        border: none;
        width: 100%;
        cursor: pointer;
    }

    #button-footer-send:hover {
        background-color: #498281;
     }
     
    #text-footer{
        display: none;
    }
    .socialmedia-footer{
        height: 65px;
        cursor: pointer;
    }

    #instagram, #facebook, #whatsapp{
        display: flex;
        align-content: center;
        border-radius: 50%;
        padding: 0px 0px 0px 15px;
    }

    #facebook img{
        width: 70%;
    }


    #whatsapp img{
        width: 80%;
    }


    #instagram img{
        width: 70%;
    }
    #terms-footer{
        height: 65px;
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }

    #terms-footer ul{
        padding: 0;
    }

    #terms-footer ul li {
        display:inline;
        font-size: 20px;
        margin-right: 60px;
     }
    
     #terms-footer ul li a {
        color: #208281;
     }
    

    /* Contact us */

    #contact-us{
        height: 794px;
    }
    
    #contact-form{
        height: 586px;
    }
    
    #contact-image{
        height: 586px;
    }
    

 

/*4. lightbox*/ 

.lightbox { 
    width: 100vw; /* vw = viewport width => screen width */
    height: 100vh; /* vh = viewport height => screen height */

    position: fixed;
    top: 0;
    left: 0;
    color: white;

    background-color: rgba(0, 0, 0, 0.85);
    display: none;
}


.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;

    color: white;
    font-size: 3em;

    text-decoration: none;

    font-weight: bolder;
    cursor: pointer;
}

.lightbox_close:hover { opacity: 0.5; color: red; }

.lightbox article {
    width: 90%;
    margin-left: 5%;
    padding-top: 50px;
}

.lb_text, .lb_heading { text-align: left; }

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block; }


.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
} 



#mashing_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#beer_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#malting_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}


#fermetation_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#boiling_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#aging_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#imageprocess{
    width: 90%;
}

#text-lightbox{
    margin-left: 40px;
    font-size: 20px;
}
